.login-form
  input
    display block
    width 100%
    margin-bottom: 1em
    &:last-child
      margin-bottom 0

.login-form-outer
  .login-info
    margin-bottom 1em

.login-callout
  position relative
  margin-bottom 1em
  .login-button
    position absolute
    top 0.5em
    right 0.5em
