@require "~app/shared/colors"

.sample-list-card
  h4
    font-weight 500
    .name
      font-weight 600
  margin 10px 1px
  div.material
    font-style italic

.sample-card
  background-color: $light-gray4
  border-radius: 5px
  margin: 5px
  padding: 5px 10px
  flex-grow: 1
  max-width: 15em
  .location-name
    color: $red3
  .material
    font-style italic
  h4
    margin-top: 0em
    margin-bottom: 0em
