.button-container
    margin-top 10px
    margin-bottom 10px
    display flex
    flex-wrap wrap

.model-button
    margin 2px

.schema-tree
    display flex
    justify-content space-around

.text-box
    margin 10px
    margin-left 0px

.json-text-box
    height 300px
    width 200px

.button-nav-bar
    display flex 
    //align-self flex-end
    align-items center

.legend-json
    margin-left 15px

.schema-nav
    display flex 
    flex-direction column

.json-tree-container
  padding 0 20px 20px 20px
  width 50%