[submodule "deps/sadisplay"]
	path = deps/sadisplay
	url = git://github.com/davenquinn/sadisplay.git
[submodule "deps/ui-components"]
	path = frontend/bundled-deps/ui-components
	url = git://github.com/UW-Macrostrat/ui-components.git
