[submodule "deps/sadisplay"]
	path = deps/sadisplay
	url = https://github.com/davenquinn/sadisplay.git
[submodule "backend/core_plugins/versioning/pg-memento"]
	path = backend/core_plugins/versioning/pg-memento
	url = https://github.com/pgMemento/pgMemento.git
[submodule "backend/python-tools"]
	path = backend/shared-modules
	url = git://github.com/UW-Macrostrat/python-tools.git
[submodule "deps/postgis-tile-utils"]
	path = backend/deps/postgis-tile-utils
	url = https://github.com/UW-Macrostrat/postgis-tile-utils.git
[submodule "deps/weaver"]
	path = deps/weaver
	url = https://github.com/digitalcrust/weaver.git
