Click==7.0
click-plugins==1.0.4
Flask==1.0.2
Flask-JWT-Extended==3.16.0
Flask-RESTful==0.3.6
ipython==7.2.0
MarkupSafe==1.0
migra==1.0.1548289315
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.5
ptyprocess==0.6.0
Pygments==2.2.0
PyJWT==1.7.1
pyparsing==2.2.2
python-dateutil==2.7.3
pytz==2018.5
simplegeneric==0.8.1
simplejson==3.16.0
SQLAlchemy==1.2.12
sqlparse==0.2.4
traitlets==4.3.2
Werkzeug==0.14.1
xlrd==1.2.0
