# vim: set ft=zsh:
export PROJECT_DIR="/projects/wiscar-sparrow"
export SPARROW_SECRET_KEY="GraniteAndesiteBasaltGabbro"

export SPARROW_CONFIG="$SPARROW_PATH/config/WiscAr.cfg"
export SPARROW_SITE_CONTENT=$PROJECT_DIR/site-content
