# An example config file for the Dockerized Sparrow application.
# This file contains environment variables that control the
# application setup.

# Configures environment for LaserChron lab
laserchron="$PROJECT_DIR/LaserChron"

# If not overridden, this value sets the `COMPOSE_PROJECT_NAME`
# environment variable
export SPARROW_LAB_NAME="LaserChron"

export SPARROW_SECRET_KEY="A test secret key"

export SPARROW_SITE_CONTENT="$laserchron/site-content"
export SPARROW_BACKUP_DIR="$laserchron/backups"

pipeline=$PROJECT_DIR/Sparrow/import-pipelines/LaserChron
export SPARROW_INIT_SQL="$pipeline/sql"
export SPARROW_COMMANDS="$pipeline/bin"
export SPARROW_BASE_URL="/" # This is the default

# Needed for import script
export LASERCHRON_DATA_DIR="$laserchron/test-data"

# Needed for certbot: A 'fully-qualified domain name'
# and contact email
export SPARROW_DOMAIN="sparrow.test-lab.org"
export CERTBOT_EMAIL="test@test-lab.org"

# Needed for enabling Mapbox maps publically
# export export MAPBOX_API_TOKEN="valid mapbox token"
