.sample-content
  display flex
  flex-direction column
  color #202B33
  justify-content center
 
  margin 20px 20px 20px 20px

.card-header
    display flex 
    justify-content space-between
    align-items baseline
    margin-bottom 15px  

.footer
    display flex 
    justify-content space-between
    align-items baseline
    margin-top 15px
    font-style italic
    font-size 13px
    color #5C7080

.id-info
    font-style italic
    font-size 13px
    color #5C7080
    display flex 
    justify-content flex-end
    margin 5px 10px 0px 0px

.bod
    display flex 
    flex-direction column
    justify-content center
    font-size 15px
    color black
    span
        font-weight bold

.content-area
  display flex
  flex-direction row
  h5:first-child
    margin-right 1em
    min-width 8em
  ul
    flex-grow 1
    margin-bottom 0

.project-card
  margin-bottom 1em
  color #202B33
  margin 20px 
  h3
    margin-top 0
  h5
    margin-bottom 0.2em
    margin-top 0.5em
  .samples,.publications
    margin-top 0.2em
    list-style-type none
    padding-left 0
    li
      display inline-block
      padding 0 0.5em 0.2em
      border-radius 3px
      margin-right 0.5em

.session-card
  display flex 
  flex-direction column
  margin 20px

.session-card-hover 
  display flex 
  flex-direction column
  margin 20px
  background-color yellow

.model-card
  border-color lightgray
  border-style solid
  border-width .5px
  border-radius 5px
  margin-bottom 10px
  margin 5px
  min-width 325px
  min-height 160
  &:hover
    background-color #EBF1F5
    cursor pointer
  &:active
    background-color #E1E8ED
  &.clicked
    background-color #BFCCD6