###
# Main requirements file for the
# Sparrow backend. Dependencies can be
# updated using `pip-compile --upgrade`
# command in the `pip-tools` package.
###

beautifulsoup4==4.7.1
Click==7.0
click-plugins==1.0.4
Flask==1.0.2
Flask-JWT-Extended==3.16.0
Flask-RESTful==0.3.6
html5lib==1.0.1
ipython==7.5.0
MarkupSafe==1.0
migra==1.0.1554608452
pexpect==4.6.0
Pygments==2.2.0
simplejson==3.16.0
SQLAlchemy==1.3.3
sqlparse==0.2.4
traitlets==4.3.2
werkzeug==0.15.6
xlrd==1.2.0
requests==2.21.0
toposort==1.5

# (De)serialization of geographic data
GeoAlchemy2==0.6.3
shapely==1.6

# For serialization/deserialization
marshmallow==3.3.0
marshmallow-sqlalchemy==0.21.0
marshmallow-jsonschema==0.8.0
stringcase==1.2.0

# For GraphQL API
Flask-GraphQL==2.0.0
graphene==2.1.5
graphene_sqlalchemy==2.2.0

# For testimg purposes
pyyaml==5.3
