###
# Main requirements file for the
# Sparrow backend.
#
# Last updated on 23 Jan 2020
###

# Preinstalled in 'sparrowdata/backend-base image'
# due to long compile times.
psycopg2
shapely
lxml
numpy
pandas
uvloop

# Legacy application
Flask==1.1.1
Flask-RESTful==0.3.7

# Core application
migra==3.0.1616366383
sqlakeyset==1.0.1616300210
Pygments==2.7.4
SQLAlchemy==1.4.7
sqlalchemy-utils==0.37.0
sqlparse==0.3.0
requests==2.22.0
toposort==1.5

# Command-line interface
click==7.1.2
click-plugins==1.1.1
ipython==7.11.1

# Static files
aiofiles==0.6.0

# Import file reading
xlrd==1.2.0
pyyaml==5.4
beautifulsoup4==4.8.2
html5lib==1.0.1
datefinder==0.7.0

# Not sure why these were added,
# may be subdependencies of Click
# and Flask
pexpect==4.8.0
traitlets==4.3.3
werkzeug==0.16.0

# Serialization/deserialization
marshmallow==3.11.1
marshmallow-sqlalchemy==0.24.2
marshmallow-jsonschema==0.10.0
stringcase==1.2.0

# (De)serialization of geographic data
GeoAlchemy2==0.8.5
shapely # Should already be installed in base image

# Prototype GraphQL API
Flask-GraphQL==2.0.1
graphene==2.1.8
graphene_sqlalchemy==2.2.2

# API version 2
webargs-starlette==2.0.0
apispec==3.3.1
starlette-apispec==1.0.3

# S3/AWS file access
boto3==1.12.25

# Testing and logging
pytest==5.4.0
colorlog==4.2.1
rich==6.0.0
deepdiff[murmur]==5.0.2
pytest-order==0.9.5

# Authentication
PyJWT==1.7.1

# ASGI
starlette==0.13.4
Hypercorn==0.11.1
asgiref==3.2.8


# Plugin Dependencies
crossrefapi==1.5.0

# sparrow_utils
# NOTE: we should probably organize these internal
# packages better...
# -e ./utils
