@require "../shared/mixins"

.tab-panel
  margin-top: 2em
  :global(.bp3-tab-list)
    minimal-navbar()
    padding: 0em 1em
  :global(.bp3-tab)
    //font-size 1.2em
    margin-right 2em
    font-weight 600
