#main
  width 800px
  margin auto
  header
    margin-top: 1.2em;
    margin-bottom: 1.45rem;

  #id
    margin: 0 auto
    padding: 0px 1.0875rem 1.45rem
    paddingTop: 0

div.index-top
  .intro-text
    flex-grow 1
