#main
  width 960px
  margin auto
  header
    max-width: 960px;
    margin-top: 1.2em;
    margin-bottom: 1.45rem;

  #id
    margin: 0 auto
    maxWidth: 960px
    padding: 0px 1.0875rem 1.45rem
    paddingTop: 0
