/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@require "./fonts.styl"

/* You can override the default Infima variables here. */
$primaryColor=#4fd2f1;

:root {
  --ifm-color-primary: $primaryColor;
  --ifm-color-primary-dark: darken($primaryColor, 10%);
  --ifm-color-primary-darker: darken($primaryColor, 15%);
  --ifm-color-primary-darkest: darken($primaryColor, 30%);
  --ifm-color-primary-light: lighten($primaryColor, 10%);
  --ifm-color-primary-lighter: lighten($primaryColor, 15%);
  --ifm-color-primary-lightest: lighten($primaryColor, 30%);
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'Merriweather', serif;
  --ifm-font-family-header: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ifm-font-family-header);
}

article header h1 {
  font-size 2em !important
  color: #f1587e
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar__logo {
  height: 160%;
  margin-left: 1em;
  margin-right: 2em;
}

.hero
  align-content: flex-start;
  justify-content: flex-end;

h2.hero-description
  max-width: 400px;
  padding 2em;
  font-size: 1.3em;
  padding-top: 0;
  padding-bottom: 200px;


.logo-container
  padding-right: var(--ifm-spacing-horizontal)
  padding-left: var(--ifm-spacing-horizontal)
  flex: 0 0 calc(4 / 12 * 100%);
  max-width: calc(4 / 12 * 100%);

.feature-container
  flex-flow: row wrap
  display flex

section .container
  display: flex
  flex-direction: row
