@require "~app/shared/colors"

.searchbox
    position sticky
    top 52px
.results
    height: 500px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

.results::-webkit-scrollbar 
  display none

