.mapHome {
  position: absolute;
}

.map-butn {
  position: relative;
  z-index: 2;
  top: 0.02;
  left: 1;
  margin: 10px 30px;
}

.map-page {
  position: absolute;
}

.map-navbar {
  position: relative;
  top: 0.2;
  left: 1;
  margin: 30px 30px;
}
