.map-navbar
  max-width: 3em
  min-width: 140px
  position absolute
  top 2em
  left 2em
  display flex
  flex-direction: column
  :global
    .site-title
      margin-top 0
      margin-bottom 0
    .bp3-button
      justify-content: flex-start
