.map-navbar
  min-width: 200px
  z-index: 20
  border-radius 5px
  position absolute
  top 2em
  left 2em
  display flex
  flex-direction column
  :global
    .site-title
      margin-top 0
      margin-bottom 0
    .bp3-button
      justify-content: flex-start

.map-page
  position fixed
  top 0
  left 0
  /* width 100vw
  height 100vh */
  .main-map
    position absolute
    top 0
    left 0

.map-home {
  position: relative;
}
.main-map {
  position: "absolute";
  z-index: 1;
}

.nav-btn {
  position: absolute;
  z-index: 99;
}

.map-butn {
  position: absolute;
  z-index: 2;
  top: 1;
  left: 0;
}

.map-page {
  position: absolute;
}

.mapContainer {
}

.map-navbar-inner {
  display: flex;
  flex-direction: row;
}
