@require "~app/shared/colors"

.sample-list-card
  h4
    font-weight 500
    .name
      font-weight 600
      color black
  margin 10px 1px
  div.material
    font-style italic

.basic-info
  h4
    color $gray1
    margin-bottom: 0.3em


.location
  display flex 
  flex-direction column
  justify-content flex-end
  padding 0
  .location-name
    font-weight 400
    margin-top 0
    font-style italic

.flex-row
  display flex
  flex-direction row
  margin-right -1em
  justify-content space-between
  // .info-block
  //   flex-grow 1
  &>*
    margin-right 1em

.pub-edit-card
  display flex
  background-color: $light-gray4
  border-radius: 5px
  margin: 5px
  padding: 5px 10px
  flex-grow: 1
  //max-width: 15em

.lon-lat
  margin 0
  display flex
  justify-content flex-end
  font-style italic
  color #394B59

.location-editor
  display flex
  padding 0

.session-info
  display flex
  flex-direction column

.session-container
  display: flex
  flex-flow: row wrap
  margin: 0 -5px