// Copyright 2015 Palantir Technologies, Inc. All rights reserved.
// Licensed under the terms of the LICENSE file distributed with this project.

$bp4-intent-primary = $blue3
$bp4-intent-success = $green3
$bp4-intent-warning = $orange3
$bp4-intent-danger = $red3

$bp4-app-background-color = $light-gray5
$bp4-dark-app-background-color = $dark-gray3

$bp4-outline-color = rgba($blue3, 0.6)

$bp4-text-color = $dark-gray1
$bp4-text-color-muted = $gray1
$bp4-text-color-disabled = rgba($bp4-text-color-muted, 0.5)
$bp4-heading-color = $bp4-text-color
$bp4-link-color = $blue2
$bp4-dark-text-color = $light-gray5
$bp4-dark-text-color-muted = $gray5
$bp4-dark-text-color-disabled = rgba($bp4-dark-text-color-muted, 0.5)
$bp4-dark-heading-color = $bp4-dark-text-color
$bp4-dark-link-color = $blue5
// Default text selection color using #7dbcff
$bp4-text-selection-color = rgba(125, 188, 255, 0.6)

$bp4-icon-color = $bp4-text-color-muted
$bp4-icon-color-hover = $bp4-text-color
$bp4-icon-color-disabled = $bp4-text-color-disabled
$bp4-icon-color-selected = $bp4-intent-primary
$bp4-dark-icon-color = $bp4-dark-text-color-muted
$bp4-dark-icon-color-hover = $bp4-dark-text-color
$bp4-dark-icon-color-disabled = $bp4-dark-text-color-disabled
$bp4-dark-icon-color-selected = $bp4-intent-primary

$bp4-divider-black = rgba($black, 0.15)
$bp4-dark-divider-black = rgba($black, 0.4)
$bp4-dark-divider-white = rgba($white, 0.15)

$bp4-code-text-color = $bp4-text-color-muted
$bp4-dark-code-text-color = $bp4-dark-text-color-muted
$bp4-code-background-color = rgba($white, 0.7)
$bp4-dark-code-background-color = rgba($black, 0.3)
