@require "./colors.styl"

panel-header()
  display flex
  flex-direction row
  &>div.expander
    flex-grow 1
  align-items center

minimal-navbar()
  background-color: $light-gray5
  padding 0.2em 0.5em
  align-items: baseline
  margin: 8px 0 10px
  padding: 0em 1em
  border-radius: 5px
  vertical-align: baseline
  box-shadow:
    0 0 0 1px rgba(16, 22, 26, 0.1),
    0 0 0 rgba(16, 22, 26, 0),
    0 1px 1px rgba(16, 22, 26, 0.2)
