@import './colors'
@import './color-aliases'

*
  box-sizing: border-box

:root
  --panel-background-secondary: $light-gray4
  --subtle-background: $light-gray5
  --card-hover: $light-gray5
  --active-highlight: $light-gray3
  --text-color-muted: $bp3-text-color-muted
  --text-color-dim: $bp3-text-color-disabled

page_margin=2em

body
  margin 0
  padding 0
  min-height: 100vh
  &.bp3-dark
    --active-highlight: $gray1
    --panel-background-secondary: $dark-gray5
    --subtle-background: $dark-gray3
    --card-hover: $dark-gray5
    --text-color-muted: $bp3-dark-text-color-muted
    --text-color-dim: $bp3-dark-text-color-disabled
    background-color: $dark-gray2

h1.site-title
  color $gray1
  font-size 1.2em
  span.subtitle, span.inner
    display: inline-block
    margin-left 0.3em
  span.subtitle
    color: $gray1
  span.subpage
    color: $gray1

nav.site-nav ul
  display flex
  flex-direction row
  margin 0.5em 0 1em
  list-style none
  padding-left 0
  li
    margin-right 1em
    a
      font-size 1.2em

div.api-result-placeholder
  padding 2em 4em
  flex-grow 1
  display flex
  justify-content center
  align-items center
