.page-header
  background-color: var(--background-color)
  z-index: 100
  :global
    .nav-wrap
      display: flex
      flex-direction: row
      align-items: center
    .spacer
      flex-grow: 1
    .nav-main
      margin-left: 2em
      margin-bottom: 0
    .sparrow-logo
      width: 120px
      height: 120px
    a.link-button, button.bp3-button
      line-height: 1.5em
  nav ul
    list-style: none
    display: flex
    flex-direction: row
    margin-right: -1em
    padding-left: 0
    li
      margin-right: 1em

    
