@require "~app/shared/colors"

.pub-edit-card
  display flex
  background-color: $light-gray4
  border-radius: 5px
  margin: 10px
  padding: 10px 15px
  flex-grow: 1

.lon-lat
  margin 0
  display flex
  font-style italic
  color #394B59

.drawer-body
  display flex
  flex-direction column
  margin 5px
  padding 10px
  border-style solid
  border-color #D8E1E8
  border-radius 5px
  border-width 0.5px

.model-edit-text
  c1 = alpha($gray1, 0.1)
  c2 = alpha($bp3-intent-success,0.1)
  box-shadow: 0 0 0 3px c1;
  background-color: c1
  border-radius: 2px
  &:global(.bp3-intent-success)
    background-color: c2;
    box-shadow: 0 0 0 3px c2;

.divi
  padding 10px

.header
  display flex 
  flex-direction column
  align-content flex-start

.drawer-add
  overflow-y scroll

.sample-area
  display: flex
  flex-flow: row wrap
  margin: 0 -5px

.sample-loc-inputs
  display flex 
  flex-direction column
.sample-loc-inputs-long
  display flex
  justify-content space-between

.metadata-body
  display flex 
  justify-content space-between
  margin-top 20px

.location
  display flex
  justify-content space-between
.sample-map
  width 70%

.geo-entity-drop
  min-width 400px
  border 0.1px solid #BFCCD6
  border-radius 5px
  padding 10px 5px 0px 5px
  display flex 
  justify-content space-between

.help-geo-entity
  max-width 500px
  min-height 150px
  padding 15px
  display flex 
  flex-direction column
  justify-content space-between


.add-button-top
  margin 5px 1px 1px 0px

.project-editor-navbar
  align-items normal
  display flex
  flex-direction: row
  justify-content space-between
  &>*
    margin-right 2em
    &:last-child
      margin-right 0
  h4
    padding-top 0.5em
    flex-grow 1

.sample-edit-card
  display flex


.sample-edit-card-samhover
  background-color: yellow

.indirect-link
  background-color: $light-gray5
  border-radius: 5px
  border-style: dashed
  border-color $light-gray2
  border-width: 2px
  margin: 5px
  padding: 5px 10px
  flex-grow: 1
  max-width: 15em
  :hover
    background-color: $light-gray4
  .location-name
    color: $indigo3
  .material
    font-style italic
  h4
    margin-top: 0em
    margin-bottom: 0em

.sample-card
  background-color: $light-gray4
  border-radius: 5px
  margin: 5px
  padding: 5px 10px
  flex-grow: 1
  max-width: 15em
  .location-name
    color: $indigo3
  .material
    font-style italic
  h4
    margin-top: 0em
    margin-bottom: 0em

.project-card
  margin-bottom 1em
  color #202B33
  margin 20px 
  h3
    margin-top 0
  h5
    margin-bottom 0.2em
    margin-top 0.5em
  .samples,.publications
    margin-top 0.2em
    list-style-type none
    padding-left 0
    li
      display inline-block
      padding 0 0.5em 0.2em
      border-radius 3px
      margin-right 0.5em

.publication
  margin 5px 0px

.my-suggest
  overflow scroll
  max-height 200px

.session-container
  display flex
  flex-wrap wrap

.tag-container
  margin 10px 0px 10px 0px

.page-view-date
  color $indigo3
  font-style italic