@require "~app/shared/colors"

.data-file-card
  margin-bottom 1em
  .content
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-content: center

.data-page-container
  //display flex
  //flex-direction: row

// .header

.info-container
  //display flex
  //flex-direction: row
  padding-top 10px

// .sample_card_container

.divHeaderContainer
  display flex
  justify-content space-around

.sessionCard
  margin-bottom 1em
h4
  color $gray1
  margin-bottom: 0.3em
