@import "../shared/colors"
@import "../shared/mixins"

a.link-card
  text-decoration none
  color inherit
  display block
  &:hover
    background-color $light-gray5


div.bp3-card
  padding 10px
  &>:first-child
    margin-top 0

// API Pagination
div.pagination-controls
  margin-top 1em
  display flex
  flex-direction row
  align-items: center
  justify-content space-between
  margin-bottom 1em

.bp3-navbar
  margin-top 2em
  h1
    font-size 1.2em

.project
  margin-top 1em
  margin-bottom 1em
  &>h3:first-child
    margin-top 0
  h4
    margin-bottom: 0.2em

a.publication
  text-decoration none

.doi-info
  display inline-block
  font-weight 600
  color $dark-gray5
  .label
    font-size 0.8em
    text-transform uppercase
    &:after
      content: " "

div.sample-area
  flex-flow row wrap
  align-items: stretch
  margin-bottom 1em

div.samples
  display: table

  div.sample
    display: table-row
    &>span
      display table-cell
    span.name
      font-weight 600
      min-width 50px
      display inline-block
    span.material
      font-style italic

a.link-button
  margin-right 0.2em

.data-view
  margin 1em 0.2em

accent=$red3

.session-info-card, div.snippet-result
  margin-bottom 1em
  h4.date
    color: accent
    font-weight 400
    font-style italic

.session-info-card.bp3-card
  position relative
  &:first-child
    margin-top 1em
  padding 10px
  div.top
    panel-header()
  h4.date
    margin-left 10px
    margin-top 0
    margin-bottom 5px
  div.session-info
    display flex
    flex-flow row wrap
    margin -5px
    .sample-id
      font-weight bold
      color: accent
    .target
      font-style italic
      color $gray1
    &>div
      min-width 130px
      background-color $light-gray4
      border-radius 5px
      margin 5px
      padding 5px 10px
      flex 1
      h5
        margin-top 0
        margin-bottom 0.2em
        &.small-info
          color: $gray1
          font-weight 400
