@require '~app/shared/mixins'

.minimal-navbar
  display: flex
  flex-direction: row
  align-items: baseline
  minimal-navbar()
  h4
    margin: 0
    padding: 0.1em 1em 0.1em 0.4em
    color: #5c7080
    min-width: 5em

.home-link-button
  margin-right: 1em
  vertical-align: baseline
  transform: translateY(3px)

.admin,.catalog
  margin-top 1em

.login-callout
  position relative
  .login-button
    position absolute
    top 0.5em
    right 0.5em
