@require '~app/shared/mixins'
@require '~app/shared/colors'

.minimal-navbar
  display: flex
  flex-direction: row
  align-items: baseline
  minimal-navbar()
  h4
    margin: 0
    padding: 0.1em 1em 0.1em 0.4em
    color: #5c7080
    min-width: 5em

.home-link-button
  margin-right: 1em
  vertical-align: baseline
  transform: translateY(3px)

.admin,.catalog
  margin-top 1em

.login-callout
  position relative
  .login-button
    position absolute
    top 0.5em
    right 0.5em

.content-area
  display flex
  flex-direction row
  h5:first-child
    margin-right 1em
    min-width 8em
  ul
    flex-grow 1
    margin-bottom 0.25em

.project-card
  margin-bottom 1em
  h3
    margin-top 0
  h5
    margin-bottom 0.2em
    margin-top 0.5em
  .samples,.publications
    margin-top 0.2em
    list-style-type none
    padding-left 0
    li
      display inline-block
      padding 0 0.5em 0.2em
      border-radius 3px
      margin-right 0.5em
