.term-card
  padding 5px
  max-width 250px
  h4
    margin-top 0
    margin-bottom 4px
    flex-grow 1
  .row
    display flex
    flex-direction row
    align-items: baseline
  p
    margin-bottom 0
    font-style italic
  .authority
    color var(--text-color-dim)
  .description
    color var(--text-color-muted)
    font-size 0.8em
    font-style italic
  margin-bottom 0.5em

.navbar
  margin 1em 1.6em 0

.vocabulary-page
  position fixed
  top 50px
  bottom 0px
  left 0
  right 0
  display flex
  flex-direction column


.vocabulary-panel
  display flex
  flex-direction row
  justify-content: space-between
  flex-grow 1
  height 100%

.list-column
  padding 2em
  overflow-y scroll
  overflow-x hidden
