.tag-row 
    display flex
    justify-content space-between

.manager-header
    min-height 50px
    display flex 
    align-items center
    padding 5px


.tag-creator
    display flex 
    justify-content space-between
    align-items center
    margin-top 15px