.tag-row 
    display flex
    justify-content space-between

.tag-manager
    border-style solid
    border-color #EBF1F5
    background-color #CED9E0
    border-radius 10px

.manager-header
    min-height 50px
    display flex 
    align-items center
    padding 5px


.tag-creator
    display flex 
    justify-content space-between
    align-items center
    margin-top 15px