.tag-body
    min-width: 60px;
    border-radius: 10px;
    text-align: center;
    padding: 4px;
    margin-right 5px;

.tag-row 
    padding-top 25px
    padding-bottom 25px
    border-style solid
    border-color #EBF1F5
    border-width 1px
    background-color white
    padding-right 15px
    padding-left 15px
    &.non-edit
        display flex
        justify-content space-between

.tag-manager
    border-style solid
    border-color #EBF1F5
    background-color #CED9E0
    border-radius 10px

.manager-header
    min-height 50px
    display flex 
    align-items center
    padding 5px


.tag-creator
    display flex 
    justify-content space-between
    align-items center
    margin-top 15px