@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Merriweather|Montserrat:400,600&display=swap')
//font-family: 'Merriweather', serif;
//font-family: 'Montserrat', sans-serif;
//font-family: 'Fira Mono', monospace;

body, html
  font-size: 17px
  font-family: "Merriweather", serif

#main
  width 980px
  margin auto
  header
    margin-top: 1.2em;
    margin-bottom: 1.45rem;

  #id
    margin: 0 auto
    padding: 0px 1.0875rem 1.45rem
    paddingTop: 0

h1,h2,h3,h4,h5,h6
  font-family: "Montserrat", sans-serif
  font-weight: 600

div.index-top
  .intro-text
    flex-grow 1
