@require "~app/shared/colors"

.pub-edit-card
  display flex
  background-color: $light-gray4
  border-radius: 5px
  margin: 10px
  padding: 10px 15px
  flex-grow: 1

.drawer-body
  display flex
  flex-direction column
  margin 5px
  padding 10px
  border-style solid
  border-color #D8E1E8
  border-radius 5px
  border-width 0.5px

.divi
  padding 10px

.header
  display flex 
  flex-direction column
  align-content flex-start

.drawer-add
  overflow-y scroll

.sample-loc-inputs
  display flex 
  flex-direction column

.metadata-body
  display flex 
  justify-content space-between
  margin-top 20px

.location
  display flex
  justify-content space-between
.sample-map
  width 70%

.geo-entity-drop
  min-width 400px
  border 0.1px solid #BFCCD6
  border-radius 5px
  padding 10px 5px 0px 5px
  display flex 
  justify-content space-between

.help-geo-entity
  max-width 500px
  min-height 150px
  padding 15px
  display flex 
  flex-direction column
  justify-content space-between