.login-form
  input
    display block
    width 100%
    margin-bottom: 1em
    &:last-child
      margin-bottom 0

.login-form-outer
  .login-info
    margin-bottom 1em

.auth-status
  position absolute
  right 1em
  top 1em
