<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lab Data Interface</title>
  </head>
  <body>
    <div id="container">
      <h1><a href="/">Daven Quinn Lab</a> — Welcome!</h1>
      <nav class='site-nav'>
        <ul>
          <li><a class="nav-link bp3-button bp3-minimal" href='/admin/'>Admin</a></li>
          <li><a class="nav-link bp3-button bp3-minimal" href='/api-explorer'>API Explorer</a></li>
          <li><a class="nav-link bp3-button bp3-minimal" href='/dz-samples'>Detrital Zircon Samples</a></li>
        </ul>
      </nav>
      <div class='content'>
        <h1>A <em>virtual</em> laboratory</h1>
        <p>This "lab" is a collection of analytical data
          amassed by Daven Quinn during various projects, stored in the EarthCube Lab Data Interface
          system. It serves to demonstrate the flexibility of this system for storage and interaction
          with a variety of data types collected in the Earth sciences.</p>
        <p>
          This lab's data management system conforms to
          the <code>EarthCube Lab Data Interface</code>
          data storage and API specification, version <code>0.1-alpha</code>.
        </p>
      </div>
    </div>
    <script type='text/javascript' src='/assets/index.js'></script>
  </body>
</html>
