.container {
  display: flex;
  flex-direction: row;
}

.item1 {
  order: 1;
}
.item2 {
  order: 2;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


  