{
  "plugins": ["import-graphql"],
  "presets": [
    "@emotion/babel-preset-css-prop",
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}
