<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <!-- Script to load browserSync in development -->
    <script id="__bs_script__">//<![CDATA[
      document.write("<script async src='http://HOST/browser-sync/browser-sync-client.js?v=2.26.12'><\/script>".replace("HOST", location.host));
    //]]>
    </script>
  </body>
</html>
