
  //@require "~react-datasheet/lib/react-datasheet.css";
  //@import "./datasheet.css"

.data-sheet
  height 100vh
  position fixed
  top 50px
  left 0px
  right 0px
  bottom 0px
  display flex
  flex-direction column
  tbody
    overflow-y scroll

:global
  .sheet-header, .sheet-actions
    display flex
    flex-direction row

  .sheet-header
    padding-top 1em

  .sheet
    flex 1
    position relative

  table.data-grid
    display block
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    overflow-y scroll
