@require '~app/shared/mixins'
@require '~app/shared/colors'

.model-edit-text
  c1 = alpha($gray1, 0.1)
  c2 = alpha($bp4-intent-success,0.1)
  box-shadow: 0 0 0 3px c1;
  background-color: c1
  border-radius: 2px
  &:global(.bp4-intent-success)
    background-color: c2;
    box-shadow: 0 0 0 3px c2;

.project-editor-navbar
  align-items normal
  display flex
  flex-direction: row
  justify-content space-between
  &>*
    margin-right 2em
    &:last-child
      margin-right 0
  h4
    padding-top 0.5em
    flex-grow 1
