*
  box-sizing: border-box

#container
  max-width 60em
  margin 0 auto 2em

@import './colors'

h1.site-title
  span.subtitle, span.inner
    display: inline-block
    margin-left 0.5em
  span.subtitle
    color: $dark-gray5
  span.subpage
    color: $gray1

nav.site-nav ul
  display flex
  flex-direction row
  margin 0.5em 0 1em
  list-style none
  padding-left 0
  li
    a
      font-size 1.2em
    margin-right 1em
