@import '../shared/colors'
@import '../shared/ui-main'
@import '../shared/mixins'

#api-explorer
  height 100vh
  margin-top -2em
  margin 0
  padding 2em 0 0
  h1.site-title
    margin-top 0
  display flex
  flex-direction column
  .api
    flex-grow 1

.usage
  position relative

.small-card
  padding 10px
  h4,h5
    margin-top 0
    margin-bottom 0.2em
  p
    margin-bottom 0.2em

ul.routes
  list-style: none
  padding-left 0
  li
    margin-bottom 0.5em
  .bp3-card
    @extends .small-card


div.arguments-list
  display flex
  flex-flow row wrap
  align-items stretch

.argument.bp3-card
  @extends .small-card

ul.routes li
  margin-bottom 1em
  a
    text-decoration none
    &:hover
      background-color: $blue5

h2.route-name
  display flex
  flex-direction row
  .bp3-button.route-parent
    padding-right 2px
  &>span,&>div
    padding: 5px 0
  .query-string
    font-weight 400
    flex 1
    color: $gray3
  span.home-icon
    padding 5px 10px
  span.current-route
    padding-right 10px
  .bp3-button
    font-size inherit
    vertical-align: inherit

div.panel-header
  panel-header()
  background-color $light-gray4
  //border 1px solid $light-gray1
  padding 6px
  border-radius 6px
  margin-top 1em
  margin-bottom 0.5em
  &>*
    margin-right 1em
    &:last-child
      margin-right 0
  h1,h2,h3
    color $dark-gray4
    margin-top 0
    margin-bottom 0

div.collapse-panel div.react-json-view
  max-height 500px
  overflow-y scroll

div.route-body>div
  display flex
  flex-direction column
